html, body {
    background: black;
    font-family: 'gotham', sans-serif;
    color: white;
  }

a {
  cursor: pointer;
  color: #1DB954;
}

a:hover {
  color: white;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: #117634;
}
  
.scroll-down {
  position: absolute;
  left: 50vw;
  bottom: 5vh;
  width: 4vw;
  height: 8.5vh;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  background: url('../assets/arrow-bottom.svg') no-repeat center center;
}

.image-replace {
  /* replace text with image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
}

.section {
  width: 100vw;
  height: 100vh;
}

.info-button {
  background-color: white;
  border: none;
  color: #1DB954;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.info-card {
  display: none;
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 40vw;
  height: auto;
  background-color: #f9f9f9eb;
  border-radius: 5px;
  padding: 16px;
  color: black;
}

.info-card.show {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-card .info-content {
  margin-bottom: 20px;
}

.info-card h2 {
  font-size: 18px;
  color: #1DB954;
  margin-bottom: 10px;
  text-align: center;
}

.info-card p {
  margin-bottom: 8px;
  text-align: left;
}

.close-button {
  background-color: #1DB954;
  border: none;
  color: white;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.line {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 1px;
  background: white;
}

.search-input input{
  height: 32px;
  width: 35vw;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0;
  font-size: 14px;
  box-shadow: 0px 1px 5px rgba(255, 255, 255, 0.4);
  margin-bottom: 0;
}

.search-input .result-box{
  position: absolute;
  width: 34vw;
  padding: 0;
  max-height: 52vh;
  overflow-y: auto;
}

.result-box {
  background: #383838;
  border: lightgray solid 0.8px;
  border-radius: 5px;
  padding: 0;
  left: 33vw;
}

.result-box li{
  list-style: none;
  border-radius: 5px;
  cursor: default;
  padding: 5px;
}

.result-box li:hover{
  background: #1DB954;
}

.result-box ul{
  padding: 1px;
  margin: 0;
}

.clear-button {
  display: none;
  position: absolute;
  padding: 5px;
  border-radius: 5px;
  background: white;
  height: 3.5vh;
  width: auto;
  border: none;
  font-size: 12px;
  cursor: pointer;
  margin-left: 5px;
  top: 15vh;
}

.clear-button:hover {
  background: #1DB954;
  color: white;
}

.clear-button.visible {
  display: inline-block;
}

.highlight {
  /* opacity */
  fill: #1DB954;
}

legend {
  background-color: #1DB954;
  color: #fff;
  padding: 3px 6px;
}

fieldset {
  height: fit-content;
  text-align: left;
  margin-left: 1.5vw;
}

fieldset legend {
  text-align: center;
}

#temporal-chart {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.text-box {
  margin-top: 10px;
  text-align: center;
  width: 310px;
  height: auto;
}

#description-text {
  font-size: 15px;
  margin-top: 5px;
  padding: 13px;
  background-color: none;
  border: #1DB954 solid 2px;
  border-radius: 5px;
  color: white;
}

.arc path:hover {
  fill: white;
  cursor: pointer;
}

.hidden {
  display: none;
}